@import url(reset.css);

.wrapper {
  width: 80%;
  margin: 3em auto;
}
.wrapper h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
table {width: 100%;}
table thead th, table tbody td {
  border: 1px solid #ccc;
  padding: 10px 10px;
  text-align: center;
}
table thead th {
  background: #ebebeb;
}
.links {margin: 2em auto;}
.links a {
  padding: 5px 20px;
  background: skyblue;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.form .field {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}
.form .field label {width: 40px;}
.form .field input, .form .field textarea{
  flex: 1;
}
.jcs {
  justify-content: start;
}
.form .jcs label {width: 100px;}
.form .jcs input {flex: none;}

#pass_confirm {
position: fixed;
left: 50%; top: 30%; transform: translate(-50%,-50%);
width: 300px;
padding: 50px 80px;
background: #fff;
border:1px solid #ccc;
box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.reply {background: #ebebeb; margin-bottom: 10px; padding: 10px;}
.reply_form input,
.reply_form textarea {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.edit_dialog form input,
.edit_dialog form textarea {
  width: 100%;
  display: block;
}